/*Обнуление*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


/*--------------------*/

body {
    padding: 0px 50px 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: linear-gradient(0.25turn, #ec8484a1, #9198e5a6);
    font-size: 20px;
}

.logo {
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: 52%;
    background-size: 300px;
    height: 220px;
}

.pikchalist>li:hover {
    scale: 1.1;
    color: rgb(42, 91, 148);
    background-image: none;
    padding: 0;
    font-weight: bold;
}

.container>* {
    display: flex;
    justify-content: center;
}

.row>* {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 20px;
}

.pikcha {
    display: inline-block;
}

.challenge-number {
    display: block;
}

img {
    max-height: 90px;
    display: inline-block;
    padding-top: 10px;
    border-radius: 30%;
}

li {
    height: 120px;
    width: 200px;
    text-align: center;
    line-height: 18px;
    padding: 0 20px;
}

.p1 {
    display: inline-block;
}

.p2 {
    display: inline-block;
}

li:first-child:hover {
    background-image: none;
    padding: 0;
    color: hotpink;
    text-shadow: 1px 1px purple;
    font-weight: 800;
}

li:hover {
    color: red;
    background-image: url(img/iconred.png);
    background-position: 40px 0px;
    background-repeat: no-repeat;
}

.p1list li:nth-child(1) {
    background-image: url(img/video-game-heart-png-9.png);
    background-repeat: no-repeat;
    background-size: 67px;
    background-position: center 16px;
    font-weight: 800;
}

.p2list li:nth-child(1) {
    background-image: url(img/legend-of-zelda.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center 24px;
    font-weight: 800;
}

.pikchalist li:nth-child(1) {
    color: hotpink;
    font-size: 40px;
    font-weight: 800;
    text-shadow: 1px 1px purple;
    pointer-events: none;
}